body {
  margin: 0;
  font-family: 'Tajawal', sans-serif;
  font-size: 15pt;
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
  color: blue;
}

.dropdown {
  font-family: 'Tajawal', sans-serif;
  font-size: 13pt;
}

.headerRight ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 12pt;
  letter-spacing: 1px;
}

.navLink {
  display: inline-block;
  font-size: 12pt;
  line-height: 40px;
  height: 40px;
}

.navLink a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.3s;
  letter-spacing: 2px;
  padding-left: 15px;
  padding-right: 15px;
}

.navLink a:hover {
  background-color: #5e5e5e;
  border-bottom: 4px solid #C5B358;
}

/* border-bottom: 4px solid #C5B358; */

.logout {
  font-size: 12pt;
  line-height: 40px;
  height: 40px;
  float: right;
}

.logout a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.3s;
  letter-spacing: 2px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #76323F;
}

.logout a:hover {
  background-color: #5e5e5e;
}

.login {
  font-size: 12pt;
  line-height: 40px;
  height: 40px;
  float: right;
}

.login a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.3s;
  letter-spacing: 2px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #007849;
}

.login a:hover {
  background-color: #5e5e5e;
}

.observationList ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 12pt;
  letter-spacing: 1px;
}

.observationList li {
  display: inline-block;
  font-size: 12pt;
  line-height: 40px;
  height: 40px; 
}

.observationList li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.3s;
  letter-spacing: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.observationList li a:hover {
  cursor: pointer;
  background-color: #5e5e5e;
}

/* observationList active */
.active {
  background-color: #365d81;
}

input, [type=text] select {
  width: 200px;
  padding: 6px;
  margin: 5px;
  margin-left: 0px;
  display: inline-block;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  font-family: 'Tajawal', sans-serif;
  font-size: 12pt;
}

input[type=submit] {
  width: 200;
  background-color: #4CAF50;
  color: white;
  padding: 11px 11px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.loginBox input, [type=text] select {
  width: 200px;
  padding: 3px;
  margin: 3px;
  margin-left: 0px;
  display: inline-block;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  font-family: 'Tajawal', sans-serif;
  font-size: 11pt;
}

.loginbox button {
  padding: 0px;
  margin: 0px;
  margin-left: 0px;
  background-color: #373737;
  border: 1px solid #2a3031;
  color: white;
  font-family: 'Tajawal', sans-serif;
  font-size: 9pt;
  transition-duration: 0.2s;
  display: inline-block;
  border: 1px solid #DDDDDD;
  border-radius: 2px;
  box-sizing: border-box;
  font-size: 12pt;
}

textarea {
  width: 350px;
  height: 60px;
  padding: 6px;
  margin: 5px;
  margin-left: 0px;
  margin-bottom: 0px;
  display: inline-block;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  font-family: 'Tajawal', sans-serif;
}


.speciesResults {
  width: 268px;
  margin: 0px;
  padding: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #efefef;
  color: #283a48;
  font-size: 9pt;
  border: 1px solid #DDDDDD;
  border-top: 0px;
  position: absolute;
  font-family: 'Noto Sans', sans-serif;
}


#search {
  width: 280px;
}

#results a:link,
#results a:hover,
#results a:visited {
  color: blue;
  text-decoration: none;
}

button {
  padding: 8px;
  margin: 5px;
  margin-left: 0px;
  background-color: #373737;
  border: 1px solid #2a3031;
  color: white;
  font-family: 'Tajawal', sans-serif;
  font-size: 9pt;
  transition-duration: 0.2s;
  display: inline-block;
  border: 1px solid #DDDDDD;
  border-radius: 2px;
  box-sizing: border-box;
  font-size: 12pt;
}

.lajiSearchInput {
  width: 200px;
  padding: 6px;
  margin: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  display: inline-block;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

button:hover {
  background-color: #3e546b;
}

 #map {
   height: 500px;
   position: relative;
 }

 .mapPopUp {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
 }

 .mapPopUp.show {
  opacity: 1;
  visibility: visible; 
}

body {
  margin: 0;
  font-family: 'Tajawal', sans-serif;
  font-size: 15pt;
  background-color: #f4f4f4;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.headerDiv {
  margin: 0;
  background-color: #373737;
  color: white;
  padding-top: 0px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.mainHeader {
  width: 1000px;
  margin: 0 auto;
  font-size: 12pt;
  margin-top: 70px;
}

h1 {
  padding: 0px;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 10px;
}

footer {
  background-color: #DDDDDD;
  text-align: center;
  font-size: 13pt;
  padding: 25px;
}

footer a {
  text-decoration: none;
  color: black;
  font-size: 13pt;
  letter-spacing: 2px;
}

footer a:visited {
  color: black;
}

footer a:hover {
  color: #A80000;
}

.headerRight {
  margin-left: 93px;
  width: 100%;
  height: 40px;
  margin: 0px auto;
}

.headerLeft {
  float: left;
  height: 40px;
  margin: 0px;
  padding-left: 10px;
  background-image: url("logo.png");
  width: 100px;
}

h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.myPageTable td {
  width: 300px;
  vertical-align: top;
}


.myPageMenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 12pt;
  letter-spacing: 1px;
}

.myPageMenu li {
  display: inline-block;
  font-size: 12pt;
  line-height: 40px;
  height: 40px; 
}

.myPageMenu li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.3s;
  letter-spacing: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.myPageMenu li a:hover {
  background-color: #5e5e5e;
}