body {
  margin: 0px;
  height: 100%;
  background-color: #fafafa;
  font-size: 13pt;
  font-family: 'Noto Sans', sans-serif;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 40px;
}

a {
  text-decoration: none;
  color: blue;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 40px;
  line-height: 15px;
  background-color: #2C3D4E;
  font-size: 12pt;
  transition-duration: 0.2s;
  float: left;
}

.logout a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 40px;
  line-height: 15px;
  background-color: #415060;
  font-size: 12pt;
  transition-duration: 0.2s;
  float: right;
}

.logout a:hover {
  background-color: #096578;
}

li a:hover {
    background-color: #557A95;
}

input, [type=text] select {
  width: 200px;
  padding: 6px;
  margin: 5px;
  margin-left: 0px;
  display: inline-block;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  font-size: 11pt;
}

input[type=submit] {
  width: 200;
  background-color: #4CAF50;
  color: white;
  padding: 11px 11px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

textarea {
  width: 350px;
  height: 100px;
  padding: 6px;
  margin: 5px;
  margin-left: 0px;
  margin-bottom: 0px;
  display: inline-block;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}


#observation {
  width: 100%;
  padding: 0px 5px 0px 5px;
  margin-bottom: 5px;
  background-color: #f9f9f9;
  border: 1px solid #5e6874;
  box-sizing: border-box;
  font-size: 10pt;
  font-family: 'Courier New', Courier, monospace
}

#results {
  width: 268px;
  margin-top: 0px;
  margin-left: 0px;
  padding: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #efefef;
  color: #283a48;
  font-size: 9pt;
  border: 1px solid #DDDDDD;
  border-top: 0px;
  position: absolute;
}

#search {
  width: 280px;
}

#results a:link,
#results a:hover,
#results a:visited {
  color: blue;
  text-decoration: none;
}

button {
  padding: 8px;
  margin: 5px;
  margin-left: 0px;
  background-color: #2C3D4E;
  border: 1px solid #2a3031;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-size: 9pt;
  transition-duration: 0.2s;
  display: inline-block;
  border: 1px solid #DDDDDD;
  border-radius: 2px;
  box-sizing: border-box;
  font-size: 12pt;
}

.lajiSearchInput {
  width: 200px;
  padding: 6px;
  margin: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  display: inline-block;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

button:hover {
  background-color: #3e546b;
}

#main {
  background-color: white;
  width: 1000px;
  margin: 0px auto;
  margin-top: 60px;
  margin-bottom: 25px;
  border: 1px solid #f0f0f0;
  box-shadow: 2px 2px 2px #ebebeb;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 20px;
  padding-top: 0px;
  overflow: auto;
 }

 #map {
   height: 500px;
   position: relative;
 }

 #header {
  position: fixed;
  overflow: hidden;
  background-color: #172A3D;
  top: 0;
  width: 100%;
  z-index: 1;
  font-family: 'Noto Sans', sans-serif;
/*   box-shadow: 2px 2px 2px #e1e1e1; */
}

 #headerRight {
   margin-left: 93px;
   height: 40px;
   margin: 0px auto;
 }

 #headerLeft {
   float: left;
   height: 40px;
   margin-left: 10px;
 }

 .wrapper {
   min-height: 100%;
 }

 .mapPopUp {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
 }

 .mapPopUp.show {
  opacity: 1;
  visibility: visible; 
}