body {
  background-color: #EFEFEF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
  margin: 0px;
  overflow-x: hidden;
}



#yla {
  height: 59px;
  width: 100%;
  background-color: #FFFFFF;
  padding: 0px;
  margin: 0px;
  padding-left: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 4px 4px #e1e1e1;
}

#container {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

#ala {
  margin: auto;
  padding: 0px;
  margin: 0px;
}

#kartta {
  position: relative;
  height: 500px;
  margin: 0px;
  margin-top: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #583845;
  text-align: center;
  font-size: 10pt;
  margin-bottom: 10px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #36262c;
  color: #FFFFFF;
}

a:hover {
  text-decoration: none;
}

li a:active {
  text-decoration: none;
}

input, [type=text] select {
  width: 200px;
  padding: 6px;
  margin: 3px;
  display: inline-block;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 200;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button {
  width: 200px;
  padding: 6px;
  margin: 3px;
  display: inline-block;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  box-sizing: border-box;
}

#observation {
  width: 100%;
  padding: 0px 5px 0px 5px;
  margin-bottom: 5px;
  background-color: #f9f9f9;
  border: 1px solid #6dbaa9;
  box-sizing: border-box;
  font-size: 10pt;
}

#leveys {
  width: 100%;
}

#clear {
  clear: both
}

#alaloota {
  width: 75%;
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 16px;
  background-color: #FFFFFF;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  box-shadow: 4px 4px 4px #e1e1e1;
  box-sizing: border-box;
}

#testi {
  width: 75%;
  margin: 0px auto;
  margin-top: 25px;
  box-shadow: 0px 4px 4px #e1e1e1;
}